/*==================breakpoints============================
going to have two break points:
    -when only 2 projects are displayed per row:1200px
    -when only a single project can displayed per row
    -ofc by default three projects are displayed per row
    
=========================================================*/
/*this file will overwrite existing css rule*/
@media (max-width:1200px){
    #projects{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2,30%);
        grid-auto-rows: 200px;
        grid-gap:80px;
        margin:20px;
      }
}
@media (max-width:800px){
    #projects{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(1,50%);
        grid-auto-rows: 200px;
        grid-gap:80px;
        margin:20px;
      }
}
@media (max-width:925px){
    #intro{
        left:20px;
        margin-left: 50px;
    }
    /*
    
    */
}
@media (max-width:595px){
    #intro{
        width:100vw;
        left:0;
        margin-left:50px;
    }
    #intro-text{
        font-size: 3vw;
    }
    #name{
        font-size: 15vw;
    }
    #title{
        font-size: 8vw;
    }
}
/*=========================burger menu=========================*/
@media (pointer:coarse){
    .logo-size-menu{
        position: relative;
        font-size: 35px;
        top:8px;
      }
      .option{
        display: block;
        padding-right: 10px;
        color:white;
        text-decoration: none;
      }
      .option:active{
        color: blue;
      }
      .option-title:active{
        color: blue;
      }
      .option-title{
        font-size: 30px;
        color:white;
        vertical-align: middle;
      }
      .menu-logo{
        position: fixed;
        right:0;
        margin-right: 5px;
        font-size: 30px;
        color: white;
        cursor: pointer;
      }
      .nav-black-screen-activate{
        position: fixed;
        height: 100%;
        width: 100%;
        background: black;
        z-index: 1;
        opacity: 0.8;
      }
      #vertical-nav{
        position: fixed;
        right:0;
        height: 100vh;
        z-index: 2;
        background: rgb(92, 92, 92);
      }
      .center{
        padding-left: 10%;
      }
      .nav-activation-animation{
        -moz-animation: translateX-50px-out 200ms linear;
        -webkit-animation: translateX-50px-out 200ms linear;
        animation: translateX-50px-out 200ms linear;
      }
      .nav-activated{
        right:0px;
      }
      .nav-deactivation-animation{
        -moz-animation: translateX-50px-in 200ms linear;
        -webkit-animation: translateX-50px-in 200ms linear;
        animation: translateX-50px-in 200ms linear;
      }
      @keyframes translateX-50px-out{
        0%{
          transform: translateX(100%);
        }
        20%{
          transform: translateX(80%);
        }
        40%{
          transform: translateX(60%)
        }
        60%{
          transform: translateX(40%);
        }
        80%{
          transform: translateX(20%);
        }
        100%{
          transform: translateX(0);
        }
      }
      @keyframes translateX-50px-in{
        0%{
          transform: translateX(0);
        }
        20%{
          transform: translateX(20%);
        }
        40%{
          transform: translateX(40%)
        }
        60%{
          transform: translateX(60%);
        }
        80%{
          transform: translateX(80%);
        }
        100%{
          transform: translateX(100%);
        }
      }
}

  /*=========================burger menu end=====================*/