/*====================wrapper section ========================*/
#main-wrapper{
  position: relative;
  min-height: 100%;
  margin:0;
  padding: 0;
}
html{
  position: relative;
  overflow: auto;
  background:rgb(0,0,37);
  
  min-height: 100%;
}
body{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  overflow-x: hidden;
  margin:0;
  padding:0;
}
#secondary-wrapper{
  position: relative;
  height: 100%;
  width: 100%;
}
/*====================wrappers end========================*/
/*====================intro section ========================*/
.text-align{
    text-align: center;
}
.about-me-on{
  position: fixed;
  margin: auto;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:50vw;
  height:50vh;
  z-index: 10;
  border-radius: 10px;
  background:rgb(0, 0, 54);
  padding:5%; 
  font-size: larger;
}
.about-me-header{
  text-align: center; 
  margin-bottom:5%;
}
.resume-on{
  position: fixed;
  margin: auto;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:70vw;
  height:90vh;
  z-index: 10;
}
#intro-info-wrapper{
  display:flex; 
  flex-direction: column;
}
#intro-btn-grp-wrapper{
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  flex-grow: 1; 
  justify-content: center;
}
.intro-btn-grp-item{
  display: inline-block;
  margin: 2%; 
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vh;
  cursor: pointer;
}
.intro-items-disp{
  display: inline-block;
}
#intro{
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  padding-top: 20%;
  margin-right: 5%;
}
#intro-text{
  font-size: 150%;
  color:rgb(194, 194, 214);
}
#name{
    font-size: 600%;
    color: rgb(134, 134, 172);
}
#title{
    font-size: 400%;
    color: rgb(225, 225, 234);
}
#bouncing-arrow{
    position: absolute;
    bottom:0vh;
    left:50vw;
    font-size: large;
    margin: auto;
    font-weight: bold;
}
.logo-size{
  height: 50px;
  width:50px;
  font-size: 50px;
}
.text-color{
  font-family: 'Times New Roman', Times, serif;
  color:rgb(194, 194, 214);
}
.larger-text{
  font-size: larger;
}
.hover-button:hover{
  transition: color linear;
  color: rgb(134, 134, 172);
  cursor: pointer;
}
.sticky{
  position: fixed;
  left: 1%;
  top:70%;
  margin:10px;
  z-index: 1;
}
/*=========bouncing arrow===========*/
.arrow {
    text-align: center;
    margin:1%;
    color:rgb(225, 225, 234);
    display: inline-block;
  }
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/*=========bouncing arrow end===========*/
/*=========onload animation=============*/
.on-load-downwards{
  -moz-animation: on-load-downwards 300ms ease-in;
  -webkit-animation: on-load-downwards 300ms ease-in;
  animation: on-load-downwards 300ms ease-in;
}
@keyframes on-load-downwards{
  0%{
    transform: translateY(-40px);
    opacity: 0.3;
 
  }
  50%{
    transform: translateY(-20px);
    opacity: 0.6;
  }
  100%{
    transform: translateY(0px);
  }

}
.on-load-upwards{
  -moz-animation: on-load-upwards 300ms ease-in;
  -webkit-animation: on-load-upwards 300ms ease-in;
  animation: on-load-upwards 300ms ease-in;
}
@keyframes on-load-upwards{
  0%{
    transform: translateY(40px);
    opacity: 0.3;
 
  }
  50%{
    transform: translateY(20px);
    opacity: 0.6;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
.onload-upwards-invis{
  -moz-animation: invis 600ms ease-in;
  -webkit-animation: invis 600ms ease-in;
  animation: invis 600ms ease-in;
}
@keyframes invis {
  0%{
    opacity: 0;
  }
  49%{
    opacity: 0;
  }
  50%{
    transform: translateY(20px);
    opacity: 0.3;
 
  }
  75%{
    transform: translateY(10px);
    opacity: 0.6;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
.fade-in-1s{
  -moz-animation: fade-in 1s ease-in;
  -webkit-animation: fade-in 1s ease-in;
  animation: fade-in 1s ease-in;
}
@keyframes fade-in{
  0%{
    opacity: 0;
  }
  49%{
    opacity: 0;
  }
  50%{
    opacity: 0.2;
  }
  60%{
    opacity: 0.4;
  }
  70%{
    opacity: 0.6;
  }
  80%{
    opacity: 0.8;
  }
  90%{
    opacity: 0.9;
  }
  100%{
    opacity: 1;
  }
}
.fade-in-3s{
  -moz-animation: fade-in 3s ease-in;
  -webkit-animation: fade-in 3s ease-in;
  animation: fade-in 3s ease-in;
}
/*=========onload animation end=============*/
/*====================intro section ========================*/
/*====================projects section======================*/
/* need to create a box model to contain all the info about
each individual project*/
.hide{
  visibility: hidden;
}
.project-info-on{
  position: fixed;
  margin: auto;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:50%;
  height:50%;
  z-index: 10;
  border-radius: 10px;
  display:flex;
  flex-direction: row;
}
#desc-links{
  display: flex;
  flex-direction: column;
  width: 70%;
}
#proj-description{
  flex-grow: 2;
  background:rgb(0, 0, 54);
}
#proj-description-text{
  font-size: larger;
  margin:5%;
}
/*=========tech section===========*/
#tech-stack-header{
  text-align: center; 
  margin-bottom: 5%; 
  margin-top: 5%;
}
#tech-container{
  margin-top: 2%;
  margin-bottom: 4%;
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly;
}
#tech-logo{
  flex-grow: 2; 
  text-align: center;
}
#proj-tech-stack{
  flex-grow: 1;
  background: rgb(0, 0, 73);
}
#tech-description{
  font-size: larger;
  flex-grow: 1; 
  align-self: center; 
  text-align: center;
}
/*=========tech section end ===========*/
#proj-links{
  text-align: center;
  background:  rgb(0, 0, 54);
}

.margin-top{
  margin-top: 1%;
}
.margin-bottom{
  margin-bottom: 1%;
}
.blurrer-on{
  position: fixed;
  margin: auto;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background:black;
  opacity: 70%;
}
#projects{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,20%);
    grid-auto-rows: 200px;
    grid-gap:80px;
    margin:20px;
}
.img_size{
    width: 100%;
    height: 100%;
}
.a-project{
  position: relative;
  transition: transform 300ms;
  width:100%;
  height: 100%;
  display:flex; 
  flex-direction:column; 
  justify-content:center;
}
.project-link-wrapper{
  justify-content:center; 
  display:flex; 
  flex-direction:row; 
  z-index:1; 
  position:relative;
}
.absolute-center{
  position: absolute;
  top:40%;
  left:35%;
}
.a-project-parent:hover{
  opacity: 0.5;
}
@media (pointer:fine){
  .a-project:hover{
    transform: scale(1.05);
  }
}
.on-hover-vis{
  opacity: 0;
}
.expand{
  position: absolute;
  top:0;
  bottom:0;
  right: 0;
  left:0;
}
.scale{
  transform: scale(1.05);
}
.z-index-2{
  z-index: 2;
}
.on-load-resize{
  -moz-animation: on-load-resize 180ms ease-in;
  -webkit-animation: on-load-resize 180ms ease-in;
  animation: on-load-resize 180ms ease-in;
}
@keyframes on-load-resize{
  0%{
    transform: scale(0.5);
    opacity: 0.5;
  }
  20%{
    transform: scale(0.6);
    opacity: 0.6;
  }
  40%{
    transform: scale(0.7);
    opacity: 0.7;
  }
  60%{
    transform: scale(0.8);
    opacity: 0.8;
  }
  80%{
    transform: scale(0.9);
    opacity: 0.9;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
/*====================projects section end======================*/
/*====================contact section=======================*/
#contact-button{
  background-color: rgb(0,0,37);
  color: rgb(225, 225, 234);
  border-radius: 2px;
  border:1px solid rgb(225, 225, 234);
  margin:20px;
}
#contact-button:hover{
  color:rgb(134, 134, 172);
}
#contact-info{
  font: bolder;
  font-size: larger;
}
/*====================contact section end===================*/
/*====================notif=================================*/
#notif{
  position: relative;
  margin:10px;
}
.notif-border{
  padding:10px;
  border:1px solid black;
  border-radius: 10px;
  background: black;
}
.fade-out-2s{
  -moz-animation: fade-out 2s ease-in;
  -webkit-animation: fade-out 2s ease-in;
  animation: fade-out 2s ease-in;
}
@keyframes fade-out{
  0%{
    opacity: 1;
  }
  49%{
    opacity: 0.8;
  }
  50%{
    opacity: 0.6;
  }
  60%{
    opacity: 0.4;
  }
  70%{
    opacity: 0.3;
  }
  80%{
    opacity: 0.2;
  }
  90%{
    opacity: 0.1;
  }
  100%{
    opacity: 0%;
  }
}
/*================================================*/
