/*====================wrapper section ========================*/
#main-wrapper{
  float: left;
}
#sticky-filler{
  width:30px;
  height: 100px;
}
/*====================wrappers end========================*/

/*====================intro section ========================*/
.text-align{
    text-align: center;
}
#intro{
  position: relative;
  top:300px;
  left:300px;
  float: left;
  width:auto;
}
body{
  width:100%;
  height: 100%;
}
.sticky{
  position: fixed;
  left: 1%;
  top:70%;
  margin:10px;
}
#intro-text{
  font-size: larger;
  color:rgb(194, 194, 214);
}
html{
  width:100%;
  height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    background:rgb(0,0,37);
}
#name{
    font-size: 600%;
    color: rgb(134, 134, 172)
}
#title{
    font-size: 400%;
    color: rgb(225, 225, 234);
}
#project-intro{
    position: relative;
    top: 85vh;
    left:10vw;
    font-size: large;
    margin: auto;
    font-weight: bold;
}
.logo-size{
  height: 50px;
  width:50px;

}
.text-color{
  color:rgb(194, 194, 214)
}
.arrow {
    text-align: center;
    margin:1%;
    color:rgb(225, 225, 234);
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  #contact-button{
    background-color: rgb(0,0,37);
    color: rgb(225, 225, 234);
    border-radius: 2px;
    border:1px solid rgb(225, 225, 234);
    cursor: pointer;
    width:100px;
    height: 50px;
    font-size: large;
  }
  
/*====================intro section ========================*/
/*====================projects section======================*/
/* need to create a box model to contain all the info about
each individual project*/
#projects{
    position: relative;
    top:90vh;
    margin:10px;
    float: left;
}
.img_size{
    max-width: 100%;
    max-height: 100%;
}
.a-project{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-template-rows: repeat(2,auto);
}
/*====================projects section======================*/